GITEA_URL=http://gitea:3000
GITEA_ADMIN_TOKEN=
CLONE_PREFIX=https://git.sharegap.net
RELAY_URLS=ws://gastown-relay:3334
HOOK_RELAY_URL=ws://localhost:3334
HOOK_BINARY_PATH=/usr/local/bin/grasp-pre-receive
GITEA_REPOSITORIES_PATH=/gitea-data/git/repositories
LISTEN=:8090
DB_PATH=./mappings.db
PUBKEY_ALLOWLIST=
PROVISION_RATE_LIMIT=10
